# Virtual environments
venv/
.venv/

# Images / datasets
*.jpg
*.jpeg
*.png

# Model checkpoints
*.ckpt
*.pt
*.pth

# macOS
.DS_Store

# TensorBoard & training outputs
events.out.tfevents.*
*.log
metrics.csv

# Python
__pycache__/
*.pyc

ISIC2019/*
!ISIC2019/.gitkeep
